# Accelerate install and build
wheel

# Science
asrl-pysteam
numpy
matplotlib
scipy
jupyterlab
ipython
ipykernel
evo
pandas
Pillow
PyYAML
ruamel.yaml
scikit-learn
seaborn
sklearn
stheno
sympy
tk
torch==1.12.0
tqdm
vtk
beautifulsoup4
