action-msgs==1.2.1
action-tutorials-interfaces==0.20.3
action-tutorials-py==0.20.3
actionlib-msgs==4.2.3
algebra==1.2.1
ament-cmake-test==1.3.3
ament-copyright==0.12.5
ament-cppcheck==0.12.5
ament-cpplint==0.12.5
ament-flake8==0.12.5
ament-index-python==1.4.0
ament-lint==0.12.5
ament-lint-cmake==0.12.5
ament-package==0.14.0
ament-pep257==0.12.5
ament-uncrustify==0.12.5
ament-xmllint==0.12.5
angles==1.15.0
argcomplete==2.0.0
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asrl-pylgmath==1.0.2
-e git+https://github.com/utiasASRL/pysteam.git@bcc51faff36db7278229d98e143bf1252cead624#egg=asrl_pysteam
asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
backends==1.4.31
backends-matrix==1.2.11
beautifulsoup4==4.11.1
bleach==5.0.1
builtin-interfaces==1.2.1
celluloid==0.2.0
certifi==2022.9.24
cffi==1.15.1
cftime==1.6.2
charset-normalizer==2.1.1
colorama==0.4.5
composition-interfaces==1.2.1
contourpy==1.0.5
control-msgs==4.1.0
controller-manager-msgs==2.20.0
cv-bridge==3.2.1
cycler==0.11.0
data==0.4
debugpy==1.6.3
decorator==5.1.1
defusedxml==0.7.1
demo-nodes-py==0.20.3
diagnostic-msgs==4.2.3
domain-coordinator==0.10.0
entrypoints==0.4
evo==1.19.0
example-interfaces==0.9.3
examples-rclpy-executors==0.15.0
examples-rclpy-guard-conditions==0.15.0
examples-rclpy-minimal-action-client==0.15.0
examples-rclpy-minimal-action-server==0.15.0
examples-rclpy-minimal-client==0.15.0
examples-rclpy-minimal-publisher==0.15.0
examples-rclpy-minimal-service==0.15.0
examples-rclpy-minimal-subscriber==0.15.0
examples-rclpy-pointcloud-publisher==0.15.0
executing==1.0.0
fastjsonschema==2.16.2
fdm==0.4.1
fonttools==4.37.3
funcsigs==1.0.2
future==0.18.2
geometry-msgs==4.2.3
gevent==20.9.0
greenlet==1.1.3
idna==3.4
image-geometry==3.2.1
importlib-metadata==4.12.0
importlib-resources==5.9.0
interactive-markers==2.3.2
ipykernel==6.15.3
ipython==8.5.0
ipython-genutils==0.2.0
ipywidgets==8.0.2
jedi==0.18.1
Jinja2==3.1.2
joblib==1.2.0
jsonschema==4.16.0
jupyter==1.0.0
jupyter-console==6.4.4
jupyter-core==4.11.1
jupyter_client==7.3.5
jupyterlab-pygments==0.2.2
jupyterlab-widgets==3.0.3
kiwisolver==1.4.4
laser-geometry==2.4.0
latex==0.7.0
launch==1.0.4
launch-ros==0.19.4
launch-testing==1.0.4
launch-testing-examples==0.15.0
launch-testing-ros==0.19.4
launch-xml==1.0.4
launch-yaml==1.0.4
lifecycle-msgs==1.2.1
logging-demo==0.20.3
lxml==4.9.1
lz4==4.0.2
map-msgs==2.1.0
MarkupSafe==2.1.1
matplotlib==3.6.0
matplotlib-inline==0.1.6
message-filters==4.3.2
mistune==2.0.4
mlkernels==0.3.6
more-interfaces==0.0.0
mpmath==1.2.1
multipledispatch==0.6.0
natsort==8.2.0
nav-msgs==4.2.3
nbclient==0.6.8
nbconvert==7.0.0
nbformat==5.6.0
nest-asyncio==1.5.5
netCDF4==1.6.1
norlab-icp-mapper-ros==0.0.1
notebook==6.4.12
numpy==1.23.3
opt-einsum==3.3.0
osrf-pycommon==2.0.2
packaging==21.3
pandas==1.5.0
pandocfilters==1.5.0
parso==0.8.3
pcl-msgs==1.0.0
pendulum-msgs==0.20.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pkgutil_resolve_name==1.3.10
plum-dispatch==1.7.2
prometheus-client==0.14.1
prompt-toolkit==3.0.31
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
py-pubsub==0.0.0
py-srvcli==0.0.0
pyarrow==9.0.0
pycparser==2.21
pyevtk==1.5.0
Pygments==2.13.0
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-Qt5==5.15.2
PyQt5-sip==12.11.0
pyrsistent==0.18.1
python-dateutil==2.8.2
python-qt-binding==1.1.1
python-slugify==6.1.2
pytz==2022.2.1
PyYAML==6.0
pyzmq==24.0.1
qt-dotgraph==2.2.2
qt-gui==2.2.2
qt-gui-cpp==2.2.2
qt-gui-py-common==2.2.2
qtconsole==5.3.2
QtPy==2.2.0
quality-of-service-demo-py==0.20.3
rcl-interfaces==1.2.1
rclpy==3.3.7
rcutils==5.1.2
requests==2.28.1
resource-retriever==3.1.1
rmw-dds-common==1.6.0
ros2action==0.18.5
ros2bag==0.15.4
ros2cli==0.18.5
ros2component==0.18.5
ros2doctor==0.18.5
ros2interface==0.18.5
ros2launch==0.19.4
ros2lifecycle==0.18.5
ros2multicast==0.18.5
ros2node==0.18.5
ros2param==0.18.5
ros2pkg==0.18.5
ros2run==0.18.5
ros2service==0.18.5
ros2topic==0.18.5
rosbag2-interfaces==0.15.4
rosbag2-py==0.15.4
rosbags==0.9.12
rosgraph-msgs==1.2.1
rosidl-adapter==3.1.4
rosidl-cli==3.1.4
rosidl-cmake==3.1.4
rosidl-generator-c==3.1.4
rosidl-generator-cpp==3.1.4
rosidl-generator-py==0.14.4
rosidl-parser==3.1.4
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.0
rosidl-typesupport-cpp==2.0.0
rosidl-typesupport-fastrtps-c==2.2.0
rosidl-typesupport-fastrtps-cpp==2.2.0
rosidl-typesupport-introspection-c==3.1.4
rosidl-typesupport-introspection-cpp==3.1.4
rpyutils==0.2.1
rqt==1.1.4
rqt-action==2.0.1
rqt-bag==1.1.4
rqt-bag-plugins==1.1.4
rqt-console==2.0.2
rqt-graph==1.3.0
rqt-gui==1.1.4
rqt-gui-py==1.1.4
rqt-joint-trajectory-controller==2.15.0
rqt-moveit==1.0.1
rqt-msg==1.2.0
rqt-plot==1.1.2
rqt-publisher==1.5.0
rqt-py-common==1.1.4
rqt-py-console==1.0.2
rqt-reconfigure==1.1.1
rqt-robot-dashboard==0.5.8
rqt-robot-monitor==1.0.5
rqt-robot-steering==1.0.0
rqt-runtime-monitor==1.0.0
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-tf-tree==1.0.4
rqt-topic==1.5.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
scikit-learn==1.1.2
scipy==1.9.1
seaborn==0.12.0
Send2Trash==1.8.0
sensor-msgs==4.2.3
sensor-msgs-py==4.2.3
shape-msgs==4.2.3
shutilwhich==1.1.0
six==1.16.0
sklearn==0.0
soupsieve==2.3.2.post1
sros2==0.10.4
stack-data==0.5.0
statistics-msgs==1.2.1
std-msgs==4.2.3
std-srvs==4.2.3
stereo-msgs==4.2.3
stheno==1.3.11
sympy==1.11.1
teleop-twist-keyboard==2.3.2
tempdir==0.7.1
terminado==0.15.0
text-unidecode==1.3
tf2-geometry-msgs==0.25.2
tf2-kdl==0.25.2
tf2-msgs==0.25.2
tf2-py==0.25.2
tf2-ros-py==0.25.2
tf2-tools==0.25.2
theodolite-node-msgs==0.0.0
threadpoolctl==3.1.0
tinycss2==1.1.1
tk==0.1.0
topic-monitor==0.20.3
torch==1.12.0
tornado==6.2
tqdm==4.64.1
traitlets==5.4.0
trajectory-msgs==4.2.3
turtlesim==1.4.1
tutorial-interfaces==0.0.0
typing_extensions==4.3.0
unique-identifier-msgs==2.2.1
urllib3==1.26.12
varz==0.7.5
visualization-msgs==4.2.3
vtk==9.2.5
wbml==0.3.20
wcwidth==0.2.5
webencodings==0.5.1
widgetsnbextension==4.0.3
xarray==2022.9.0
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.4.0
zstandard==0.18.0
